<footer class="container">
    <span class="blur"></span>
    <span class="blur"></span>
    <div class="column">
        <div class="logo">
            <img src="" alt="Image of FlightFinderLogo">
        </div>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni impedit totam, necessitatibus ab maiores
        </p>
        <div class="socials">
            <a href="#"><span class="material-symbols-outlined">
                done
                </span></a>
        </div>
    </div>
</footer>