<div class="container-login" id="container-login">
  <div class="form-container flight-tracker">
    <form>
      <div class="flight">
        <h1>Book</h1>
        <label class="container"
          >Round Trip
          <input type="checkbox" checked="checked" />
          <span class="checkmark"></span>
        </label>

        <label class="container"
          >One Way
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="form-container sign-in">
        <h1>From</h1>
        <label for="searchbox">Search</label>
        <input type="search" oninput="liveSearch()" id="searchbox" />
      </div>
      <div class="form-container sign-in">
        <h1>To</h1>
        <label for="searchbox">Search</label>
        <input type="search" oninput="liveSearch()" id="searchbox" />
      </div>

      <div class="form-container sign-in">
        <h1>Depart</h1>
        <label for="start">Start date:</label>

        <input
          type="date"
          id="start"
          name="trip-start"
          value="2018-07-22"
          min="2018-01-01"
          max="2018-12-31"
        />
      </div>
      <div class="form-container sign-in">
        <h1>Return</h1>
        <label for="start">Start date:</label>

        <input
          type="date"
          id="start"
          name="trip-start"
          value="2018-07-22"
          min="2024-01-01"
          max="2024-12-31"
        />

        <button type="submit">Search</button>
      </div>
    </form>
  </div>
</div>
