/*<-------- Colors --------------->*/

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: thick double var(--clr-primary-400);
  margin: 5rem;
  padding: .25rem;
}

h1 {
  font-size: var(--fs-800);
}

h2 {
  padding: var(--size-100);
  font-size: var(--fs-700);
}
.tracker-form-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  padding: 1rem;
}

.tracker-form-row {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  justify-content: space-between;
  margin: var(--size-200);
  gap: 5rem;
}

.search-box {
  padding: var(--size-100);
}

.button {
  margin-top: var(--size-200);
  align-self: center;
}

/*---------------Mobile---------------*/

@media (max-width: 50em) {
  .form-container {
    display: flex;
    flex-direction: row;
    border: thick double black;
    margin: var(--size-400);
    justify-content: center;
    padding: 0; 

    .tracker-form-column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
    }

    .tracker-form-row {
      display: flex;
      display: row;
      align-items: center;
      justify-content: space-between;
    }

    h1 {
      font-size: var(--fs-700);
      font-size: var(--fs-400);
      align-self: center;
    }
    h2 {
      padding: var(--size-200);
      font-size: var(--fs-600);
    }

    .search-box {
      padding: var(--size-100);
    }

    .button {
      margin-top: var(--size-200);
      align-self: center;
    }
  }
}
