<div class="container">
  <div class="form-container">
    <form>
      <div class="tracker-form-column">
        <h1>Find a Flight</h1>
        <div class="tracker-form-row">
          <h2>From</h2>
          <label for="searchbox"></label>
          <input
            placeholder="City or Airport"
            class="search-box"
            type="search"
            oninput="liveSearch()"
            id="searchbox"
          />
        </div>

        <div class="tracker-form-row">
          <h2>To</h2>
          <label for="search-box"></label>
          <input
            placeholder="City or Airport"
            class="search-box"
            type="search"
            oninput="liveSearch()"
            id="searchbox"
          />
        </div>

        <div class="tracker-form-row">
          <h2>Depart</h2>
          <label for="searchbox"></label>
          <input
            value="2017-06-01"
            class="search-box"
            type="date"
            oninput="liveSearch()"
            id="searchbox"
          />
        </div>

        <div class="tracker-form-row">
          <h2>Arrival</h2>
          <label for="search-box"></label>
          <input
            class="search-box"
            type="date"
            oninput="liveSearch()"
            id="searchbox"
          />
        </div>
        <button class="button" type="submit">Search</button>
      </div>

   
    </form>
  </div>
</div>
