
/*<-------- Colors --------------->*/

$basecolor: #c8d9ed;
$secondarycolor: #e1f1fd; 
$thirdcolor: #c1d8f0;
$darkcolor: #32a1ce;
$greycolor: #d2deeb;
$black: #28282B;

.form-container {
  display: flex;
  flex-direction: row;
  border: solid $black;
  border-radius: 5%;
  width: 45rem;
  margin-top: 5rem;
}

h1 {
  padding: 1rem;
  font-size: medium; 
}
.types-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: last baseline;
  justify-content: space-between;
  padding: 1rem; 
}

.locations-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  justify-content: space-between;
}

.search {
  border: solid $black;
}

.dates {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: last baseline;
  justify-content: space-between;
  margin-top: 1em;
}

.date-input {
  border: solid $black;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn {
  padding: 1rem 2rem; 
  margin: 2rem;
  font-size: 1rem;
  color: $black;
  background-color: $darkcolor;
  border-radius: 25px;
  cursor:pointer;
  transition: all 0.3s ease;
  font-weight: 900;
}

.btn:hover {
  background-color: white;
  border: $black;
  box-shadow: 5px 5px 5px $darkcolor;

}

