<div class="container-login" id="container-login">
    <div class="form-container sign-up">
      <form>
        <h1>Create Account</h1>
        <div class="social-icons">
          
        </div>
        <span>Or use your personal email for registeration</span>
        <input type="text" name="" id="" placeholder="First Name" />
        <input type="text" name="" id="" placeholder="Last Name" />
        <input type="Email" name="" id="" placeholder="Email" />
        <input type="password" name="" id="" placeholder="Password" />
        <button>Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in">
      <form>
        <h1>Sign In</h1>
        <div class="social-icons">
          
        </div>
        <span>Please use your email and password</span>
        <input type="Email" name="" id="" placeholder="Email" />
        <input type="password" name="" id="" placeholder="Password" />
        <a href="#">Forget your Password?</a>
        <button>Sign In</button>
      </form>
    </div>
  </div>
  