

 
    <section>
      <div class="container">
        <app-trip-finder></app-trip-finder>
      </div>
    </section>
    <section>
      <div class="container">
        <h1>Become a cheap flight expert</h1>
       
        <div class="even-columns">
          <div class="card">
            <img class="google-flights" src="../../../assets/google-flights.svg" alt="">
            <div class="card-title">
              <h2>Google Flights Guide </h2>
              <button class="button"><a href="#" class="icon"><fa-icon [icon]="faArrowRight"></fa-icon></a></button>
            </div>
            
          </div>
          <div class="card">
          
            
            <img src="../../../assets/cheap-flights.png" alt="">
            <div class="card-title">
              <h2>How to Find Cheap Flights</h2>
              <button class="button"><a href="#" class="icon"><fa-icon [icon]="faArrowRight"></fa-icon></a></button>
            </div>
           
          </div>
       </div>
      </div>
    </section>
