

 
    <section>
      <div class="container">
        <app-trip-finder></app-trip-finder>
      </div>
    </section>
    <section>
      <div class="container">
        <h1>Become a cheap flight expert</h1>
        <div class="even-columns">
          <div>
            <img src="" alt="">
            <h1>Google Flights Guide </h1>
            <button class="btn"><a href="#" class="icon"><fa-icon [icon]="faGoogle"></fa-icon></a></button>
          </div>
          <div>
            <img src="" alt="">
            <h2>How to Find Cheap Flights</h2>
            <button class="btn"><a href="#" class="icon"><fa-icon [icon]="faGoogle"></fa-icon></a></button>
          </div>
       </div>
      </div>
    </section>
    <section class="carousel">
      <h2>What they've said</h2>
      <!--Courousel-->
    </section>
