h1 {
  font-size: var(--fs-800);
  text-align: center;
  margin-bottom: var(--size-600);
}

h2 {
  padding: var(--size-100);
  font-size: var(--fs-600);
  text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-100);
    margin: var(--size-100);
}

.google-flights {
    max-width: 100%;
    height: auto;
}

/*---------------Mobile---------------*/

@media (max-width: 50em) {
    
  }
  