/*<-------- Global CSS --------------->*/


/*<-------- Font Family --------------->*/ 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

//Material Icons 
//https://fonts.google.com/specimen/Inter
//https://fonts.google.com/icons?selected=Material+Symbols+Outlined:done:FILL@0;wght@400;GRAD@0;opsz@24



/*<--------  --------------->*/ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}