/*<-------- Colors --------------->*/

$basecolor: #c8d9ed;
$secondarycolor: #e1f1fd;
$thirdcolor: #c1d8f0;
$darkcolor: #32a1ce;
$greycolor: #d2deeb;
$black: #28282b;

/*---------------Nav ----------------*/

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flight-icon {
  width: var(--size-900);
  height: auto;
  margin-top: var(--size-400);
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  font-size: var(--fs-nav);
}

.nav-list {
  display: flex;
  gap: clamp(var(--size-400), 5vw, var(--size-700));
  font-weight: var(--fw-semi-bold);
}

.button-group {
  display: flex;
  gap:  var(--size-300);
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-primary-400);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--clr-accent-400);
}

/*---------------Mobile---------------*/

@media (max-width: 50em) {
  .primary-navigation {
    display: none;
    position: fixed;
    padding: var(--size-700);
    inset: 7rem var(--size-400) auto;
    max-width: 35rem;
    margin-inline: auto;
    background: var(--clr-neutral-100);
    border-radius: var(--size-200);
    box-shadow: 0 0 0 .75em rgb(0, 0, 0,  0.5);
  }

  .nav-list {
    display: grid;
    gap: var(--size-600);
    text-align: center;
    font-weight: var(--fw-bold);
  }
  .showMenu {
    display: block;
    position: fixed;
  }

  .nav-list a {
    text-decoration: none;
    color: var(--clr-primary-400);
  }

  .nav-list a:hover,
  .nav-list a:focus {
    color: var(--clr-accent-400);
  }

  .flight-icon {
    width: var(--size-900);
    height: auto;
    margin-top: var(--size-400);
  }

  .button-group {
    display: none;
  }

  .mobile-nav-toggle {
    display: block;
    position: fixed;
    top:var(--size-700);
    right: var(--size-400);
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }

  .mobile-nav-toggle .icon-close {
    display: none;
  }
}
